USE [master]
GO
/****** Object:  Database [DBAziendale]    Script Date: 20/03/2024 10:55:00 ******/
CREATE DATABASE [DBAziendale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBAziendale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBAziendale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBAziendale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBAziendale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBAziendale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBAziendale]
GO
/****** Object:  Table [dbo].[Clienti]    Script Date: 20/03/2024 10:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti](
	[ID_Cliente] [int] NOT NULL,
	[Nome] [varchar](30) NULL,
	[Cognome] [varchar](30) NULL,
	[Indirizzo] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[num_tel] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dettagli_Ordini]    Script Date: 20/03/2024 10:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dettagli_Ordini](
	[ID_Dettaglio] [int] NOT NULL,
	[ID_Ordini] [int] NULL,
	[ID_Prodotto] [int] NULL,
	[Quantità] [int] NULL,
	[Prezzo_Unitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Dettaglio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dipendenti]    Script Date: 20/03/2024 10:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dipendenti](
	[ID_Dipendente] [int] NOT NULL,
	[Nome] [varchar](50) NULL,
	[Ruolo] [varchar](50) NULL,
	[Salario] [decimal](10, 2) NULL,
	[Data_ass] [date] NULL,
	[Dipartimento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Dipendente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornitori]    Script Date: 20/03/2024 10:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornitori](
	[ID_Fornitore] [int] NOT NULL,
	[Nome_Fornitore] [varchar](100) NULL,
	[Indirizzo] [varchar](200) NULL,
	[Email] [varchar](50) NULL,
	[num_tel] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Fornitore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 20/03/2024 10:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[ID_Prodotto] [int] NOT NULL,
	[Quantità] [int] NULL,
	[data_aggiornamento] [date] NULL,
	[id_fornitori] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Prodotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordini]    Script Date: 20/03/2024 10:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordini](
	[ID_Ordini] [int] NOT NULL,
	[ID_Cliente] [int] NULL,
	[Data_ordine] [date] NULL,
	[Totale] [decimal](10, 2) NULL,
	[ID_Dipendente] [int] NULL,
	[ID_Fornitore] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ordini] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodotti]    Script Date: 20/03/2024 10:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodotti](
	[ID_Prodotto] [int] NOT NULL,
	[Nome_Prodotto] [varchar](50) NULL,
	[Descrizione] [varchar](200) NULL,
	[Prezzo] [decimal](10, 2) NULL,
	[Quantità_disponibile] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Prodotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dettagli_Ordini]  WITH CHECK ADD FOREIGN KEY([ID_Ordini])
REFERENCES [dbo].[Ordini] ([ID_Ordini])
GO
ALTER TABLE [dbo].[Dettagli_Ordini]  WITH CHECK ADD FOREIGN KEY([ID_Prodotto])
REFERENCES [dbo].[Prodotti] ([ID_Prodotto])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([ID_Prodotto])
REFERENCES [dbo].[Prodotti] ([ID_Prodotto])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [id_fornitori] FOREIGN KEY([id_fornitori])
REFERENCES [dbo].[Fornitori] ([ID_Fornitore])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [id_fornitori]
GO
ALTER TABLE [dbo].[Ordini]  WITH CHECK ADD FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[Clienti] ([ID_Cliente])
GO
ALTER TABLE [dbo].[Ordini]  WITH CHECK ADD FOREIGN KEY([ID_Dipendente])
REFERENCES [dbo].[Dipendenti] ([ID_Dipendente])
GO
ALTER TABLE [dbo].[Ordini]  WITH CHECK ADD  CONSTRAINT [id_fornitore] FOREIGN KEY([ID_Fornitore])
REFERENCES [dbo].[Fornitori] ([ID_Fornitore])
GO
ALTER TABLE [dbo].[Ordini] CHECK CONSTRAINT [id_fornitore]
GO
USE [master]
GO
